@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

:root{
  --bg-color: #ededf5;
  --text-color: #0f1222;
  --main-color: #020429;
  --white-color: #fff;
  --shadow-color: rgba(0,0,0,.5);
}

.dark-mode{
  --bg-color: #080418;
  --text-color: #fdfdfd;
  --main-color: #092efa;
  --white-color: #080808;
  --shadow-color: rgba(0,0,0,.7);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: var(--bg-color);
  color: var(--text-color);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: .5s;
}

.header.sticky{
  background: var(--bg-color);
  box-shadow: 0 .1rem 1rem var(--shadow-color);
}

.logo{
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a{
  position: relative;
  font-size: 1.9rem;
  color: var(--white-color);
  font-weight: 600;
  margin-right: 3.5rem;
  transition: .1s linear;
}

.header.sticky .navbar a{
  color: var(--text-color);
}

.header.sticky .navbar a.active{
  color: var(--main-color);
}

.navbar a.active::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: .2rem;
  background: var(--white-color);
}

.header.sticky .navbar a::before{
  background: var(--main-color);
  opacity: .7;
}

#darkMode-icon{
  font-size: 2.4rem;
  color: var(--white-color);
  cursor: pointer;
}

.header.sticky #darkMode-icon{
  color: var(--text-color);
  opacity: .9;
}

#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

section{
  width: 100%;
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

.home{
  display: flex;
  align-items: center;
}

.home .home-content{
  max-width: 44rem;
}

.home .home-content h3{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: .3rem;
  margin-bottom: 1rem;
}

.home .home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
}

.home .home-content .text-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.home .home-content .text-wrapper .moving-text {
  font-size: 3rem;
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
  animation: moveText 7s infinite linear;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.home .home-content p{
  font-size: 1.6rem;
  margin-top: 1rem;
}

.home .home-content .social-media a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 2rem;
  border-color: .2rem var(--main-color);
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: .5s ease;
}

.home .home-content .social-media a:hover{
  background: var(--main-color);
  color: var(--white-color);
}

.btn{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  transition: .5s ease;
}

.btn:hover{
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.home .profession-container{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box{
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate{
  0%,20%{
    transform: rotate(0deg);
  }
  25%,45%{
    transform: rotate(-90deg);
  }
  50%,70%{
    transform: rotate(-180deg);
  }
  75%,95%{
    transform: rotate(-270deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession{
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i{
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4){
  padding-bottom: 20px;
}

.home .profession i{
  font-size: 3.8rem;
}

.home .profession h3{
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600;
}

.home .profession-box .circle{
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profession-container .overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 384px solid var(--main-color);
  border-left: 384px solid transparent;
}

.home-img img{
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

span{
  color: var(--main-color);
}

.about{ 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-img img{
  width: 40vw;
}

.heading{
  font-size: 4.5rem; 
  text-align: center;
}

.about-content h2{
  text-align: left;
  line-height: 1.2;
}

.about-content h3{
  font-size: 2rem;
}

.about-content p{
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.skills{
  padding: 7%;
}

.skills .heading{
  margin-bottom: 5rem;
}

.skills-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  gap: 2.5rem;
  justify-content: center;
  cursor: pointer;
}

.skills-container .skills-box{
  position: relative;
  text-align: center;
  color: var(--white-color);
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  border-radius: .8rem;
  padding: 2rem;
  z-index: 0;
  height: 31rem;
}

.skills .skills-container .skills-box::before{
  content: '';
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 18rem;
  z-index: -1;
  background: var(--main-color);
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.skills-container .skills-box img{
  height: 15rem;
  transition: .2s linear;
  position: relative;
}

.skills-container .skills-box:hover img{
  transform: translateY(-1rem);
}

.skills-container .skills-box h3{
  font-size: 2.6rem;
}

.skills-container .skills-box p{
  font-size: 1.6rem;
  line-height: 1.8;
}

.services{
  min-height: auto;
  padding-bottom: 7rem;
}

.services h2{
  margin-bottom: 5rem;
}

.services .services-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box{
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  text-align: center;
  border-top: .6rem solid var(--main-color);
  border-bottom: .6rem solid var(--main-color);
  transition: .5s ease;
}

.services-container .services-box:hover{
  box-shadow: 0 .1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.services-box i{
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3{
  font-size: 2.6rem;
  transition: .5s ease;
}

.services-box:hover h3{
  color: var(--main-color);

}

.services-box p{
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.portfolio{
  padding-bottom: 10rem;
}

.portfolio h2{
  margin-bottom: 4rem;
}

.portfolio .portfolio-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.portfolio-container .portfolio-box{
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
  overflow: hidden;
}

.portfolio-box img{
  width: 100%;
  height: 24rem;
  transition: .5s ease;
}

.portfolio-box:hover img{
  transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer{
  opacity: 1;
}

.portfolio-layer h4{
  font-size: 3rem;
}

.portfolio-layer p{
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
}

.portfolio-layer a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--white-color);
  border-radius: 50%;
  transition: .2s ease;
}

.portfolio-layer a:hover{
  transform: scale(1.2);
}

.portfolio-layer a i{
  font-size: 2rem;
  color: var(--text-color);
}

.testimonial-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper{
  position: relative;
  max-width: 90rem;
  width: 100%;
  padding: 5rem;
}

.testimonial-wrapper .testimonial-box{
  padding: 1rem;
  border-radius: 2rem;
  overflow: hidden;
}

.testimonial-content .testimonial-slide{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 2rem;
  box-shadow: 0 .1rem .5rem var(--shadow-color);
  padding: 3rem 5rem;
  border-top: .8rem solid var(--main-color);
  border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img{
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 50%;
  border: .5rem solid var(--white-color);
  outline: .5rem solid var(--main-color);
}

.testimonial-slide h3{
  font-size: 2.5rem;
  margin: 2rem 0;
}

.testimonial-slide p{
  font-size: 1.4rem;
  text-align: center;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev{
  color: var(--main-color);
}

.testimonial-box .swiper-button-next{
  right: 0;
}

.testimonial-box .swiper-button-prev{
  left: 0;
}

.testimonial-box .swiper-pagination-bullet{
  background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active{
  background: var(--main-color);
}

.contact h2{
  margin-bottom: 2rem;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}


.contact form .input-box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field{
  width: 48.5%;
}

.field .item{
  width: 100%;
  padding: 1.2rem;
  background: transparent;
  border: 2px solid var(--main-color);
  outline: none;
  border-radius: .8rem;
  font-size: 1.6rem;
  color: var(--text-color);
  margin: .8rem 0;
}

.field .item::placeholder{
  color: #a0a7be;
}

.field .error-txt{
  font-size: 1rem;
  color: red;
  text-align: center;
  margin: -5px 0 10px;
  display: none;
}

.contact form .textarea-field .item{
  resize: none;
}

.contact button{
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: .6rem;
  box-shadow: 0 .2rem .5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: .1rem;
  font-weight: 600;
  border: .2rem solid transparent;
  cursor: pointer;
  transition: .5s ease;
}

.contact button:hover{
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.blogs h2{
  margin-bottom: 2rem;
}

.blogs .blogs-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.blogs .blogs-container .blog .image{
  height: 25rem;
  width: 35rem;
  position: relative;
  margin-bottom: 3.5rem;
}

.blogs .blogs-container .blog .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: .5rem;
  filter: grayscale(1);
  transition: .2s linear;
}

.blogs .blogs-container .blog:hover .image img{
  transform: translateY(-1rem);
  filter: grayscale(0);
}

.blogs .blogs-container .blog .image .flex{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  width: 90%;
  z-index: 1;
}

.blogs .blogs-container .blog .image .flex span{
  color: var(--light-black);
  font-size: 2rem;
}

.blogs .blogs-container .blog .content{
  text-align: center;
}

.blogs .blogs-container .blog .content h3{
  margin-bottom: 1rem;
}

.blogs .blogs-container .blog .content h3 a{
  color: var(--black);
  font-size: 2rem;
}

.blogs .blogs-container .blog .content h3 a:hover{
  text-decoration: underline;
}

.blogs .blogs-container .blog .content p{
  font-size: 1.6rem;
  color: var(--black);
  line-height: 1.8;
}

.blogs .blogs-container .blog .content .btn{
  margin-top: 2rem;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer-text p{
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer-text p a{
  color: var(--bg-color);
  font-weight: 650;
}

.social-media a{
  display: inline-flex;
  font-size: 2.4rem;
  margin-left: .5rem;
  justify-content: center;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: .8rem;
  padding: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent;
  transition: .5s ease;
}

.social-media a:hover{
  outline-color: var(--white-color);
  transform: scale(1.1);
  background: transparent;
  color: var(--bg-color);
}

.footer-iconTop a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--white-color);
  border-radius: .8rem;
  border: .2rem solid var(--main-color);
  outline: .2rem solid transparent;
  transition: .5s ease;
}

.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--text-color);
}

.footer-iconTop a:hover{
  outline-color: var(--white-color);
  background: transparent;
}

.footer-iconTop a i:hover{
  color: var(--white-color);
}

/* ======== custom css project01 start ======== */

.container-project01{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-project01 .container-box{
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: var(--main-color);
  padding: 30px;
  overflow: hidden;
  border-radius: .8rem;
  box-shadow: var(--shadow-color);
}

.container-project01 .container-box .heading{
  color: var(--white-color);
  margin-bottom: 3rem;
}

.container-project01 .container-box label{
  display: block;
  font-size: 2rem;
  margin-bottom: .8rem;
  color: var(--white-color);
}

.container-project01 .container-box select{
  width: 100%;
  padding: .8rem;
  text-transform: capitalize;
  border-radius: .3rem;
  margin-bottom: 1.5rem;
  color: var(--text-color);
  font-size: 1.6rem;
}

.container-project01 span{
  color: var(--white-color);
}

.btn-start{
  width: 100%;
  height: 5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  margin-top: 3rem;
  border-radius: .8rem;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s linear;
}

.btn-start:hover{
  background-color: transparent;
  color: var(--white-color);
  border: solid var(--white-color);
}

.btn-start:disabled{
  cursor: not-allowed;
  background-color: #6971a0;
}

.hide{
  display: none;
}

.timer{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.timer .progress{
  position: relative;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 2.5rem;
  overflow: hidden;
  margin-bottom: .9rem;
  border: 3px solid#6971a0;
}

.timer .progress .progress-bar{
  width: 50%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(to right, #ea571c, #b478f1);
  transition: 1s linear;
}

.timer .progress .progress-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.question-wrapper .number {
  color: #a2aace;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
}

.question-wrapper .number .total{
  color: #6971a0;
  font-size: 1.2rem;
}

.question-wrapper .question{
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.answer-wrapper .answer{
  width: 100%;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
  color: var(--white-color);
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  cursor: pointer;
  transition: .3s linear;
}

.answer .checkbox{
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  border: 3px solid #3f4868;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.answer .checkbox .icon{
  opacity: 0;
}

.answer:hover .checkbox,
.answer.selected .checkbox{
  background-color: #0c80ef;
  border-color: #0c80ef;
}

.answer.selected .checkbox .icon{
  opacity: 1;
}

.answer.correct{
  border-color: #7bec10;
}

.answer.wrong{
  border-color: #e92626;
}

.question-wrapper,
.answer-wrapper{
  margin-bottom: 50px;
}

.btn.next{
  /* show when answer submit */
  display: none;
}

.end-screen .score{
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 80px;
  text-align: center;
}

.end-screen .score-text{
  color: #a2aace;
  font-size: 16px;
  margin-bottom: 120px;
}

@media (max-width:468){
  .container-project01 .container-box{
    min-height: 100vh;
    max-width: 100%;
    border-radius: 0;
  }
}


/* ======== custom css project01 end======== */

/*Breakpoints*/
@media (max-width: 1200px){
  html{
    font-size: 55%;
  }
  .home .profession-container{
    height: 85.8rem;
  }
  .home .profession-container .profession-box{
    right: -12rem;
    height: 85.8rem;
  }
  .home .profession-container .overlay{
    right: -9rem;
  }
}

@media (max-width: 1024px){
  .header{
    padding: 2rem 3%;
  }
  section{
    padding: 10rem 3% 3rem;
  }
  .home .profession-container .profession-box{
    right: -22rem;
  }
  .home .profession-container .overlay{
    right: -15rem;
  }
}

@media (max-width: 991px){
  .navbar a:nth-child(1),
  .navbar a:nth-child(2){
    color: var(--main-color);
  }
  .navbar a.active::before{
    background: var(--main-color);
    opacity: .7;
  }
  .home .home-content{
    max-width: 50rem;
  }
  .home .profession-container .profession-box{
    right: -45rem;
  }
  .home .profession-container .overlay{
    right: -39.5rem;
  }
  .home-img img{
    display: none;
  }

  .skills,
  .services,
  .portfolio{
    padding-bottom: 7rem;
  }
  .contact{
    min-height: auto;
  }
  .footer{
    padding: 2rem 3%;
  }
}

@media (max-width: 768px){
  #menu-icon{
    display: block;
    cursor: pointer;
  }
  #darkMode-icon{
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: .1rem;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: none;
  }
  .navbar.active{
    display: block;
  }
  .navbar a{
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: var(--text-color);
  }
  .navbar a:nth-child(1),
  .navbar a:nth-child(2){
    color: var(--text-color);
  }
  .navbar a.active{
    color: var(--main-color);
  }
  .navbar a::before{
    display: none;
  }
  .home{
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
  }
  .home-content h3{
    font-size: 2.6rem;
  }
  .home-content h1{
    font-size: 5rem;
  }
  .home-content .social-media a{
    margin: 2.5rem .75rem 3rem;
  }
  .home .profession-container{
    left: 0;
    width: 100%;
    height: 100%;
  }
  .home .profession-container .profession-box{
    position: fixed;
    top: 60%;
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  .home .profession-box .profession{
    padding: 0 13px;
    left: auto;
    transform-origin: 0;
  }
  .home .profession-box .profession:nth-child(1){
    transform: rotate(-90deg) translate(-120px, -210px);
  }
  .home .profession-box .profession:nth-child(1) i{
    margin-right: 0;
  }
  .home .profession-box .profession:nth-child(2){
    transform: rotate(0deg) translate(0, -335px);
  }
  .home .profession-box .profession:nth-child(3){
    transform: rotate(90deg) translate(-115px, -450px);
  }
  .home .profession-box .profession:nth-child(4){
    transform: rotate(180deg) translate(-220px, -335px);
  }
  .home .profession-box .circle{
    position: fixed;
    width: 670px;
    height: 670px;
    z-index: -1;
  }
  .home .profession-container .overlay{
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }
  .about{
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-content h2{
    text-align: center;
  }
  .about-img img{
    width: 70vh;
    margin-top: -2rem;
  }

  .skills,
  .services,
  .portfolio{
    margin-bottom: 3rem;
  }

  .skills .skills-container,
  .portfolio .portfolio-container{
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-container .testimonial-wrapper{
    padding: 5rem 0;
  }
  .testimonial-content .testimonial-slide{
    padding: 3rem 2rem;
  }
  .testimonial-box .swiper-button-next,
  .testimonial-box .swiper-button-prev{
    display: none;
  }
}

@media (max-width: 617px){
  .skills .skills-container,
  .portfolio .portfolio-container{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 450px){
  html{
    font-size: 50%;
  }
  #darkMode-icon{
    right: 6rem;
  }
  .home{
    padding: 0 3% 30rem;
  }
  .home .profession-box .profession:nth-child(1){
    transform: rotate(-90deg) translate(-110px, -220px);
  }
  .home .profession-box .profession:nth-child(2){
    transform: rotate(0deg) translate(5px, -335px);
  }
  .home .profession-box .profession:nth-child(3){
    transform: rotate(90deg) translate(-105px, -440px);
  }
  .home .profession-box .profession:nth-child(4){
    transform: rotate(180deg) translate(-210px, -335px);
  }
  .contact form .input-box input{
    width: 100%;
  }
}

@media (max-width: 365px){
  .about-img img{
    width: 90vw;
  }
  .footer{
    flex-direction: column-reverse;
  }
  .footer p{
    text-align: center;
    margin-top: 2rem;
  }
}